form {
    width: 45rem;
    height: fit-content;
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input[type="text"],
    textarea {
        border: none;
        font-weight: 500;
        padding: 0.4rem;
        color: var(--dark-grey-shade);

        &:focus {
            outline: none;
        }
    }

    input[type="text"] {
        height: 2rem;
        font-size: 1rem;
    }

    textarea {
        resize: none;
        font-size: 1.1rem;
    }

    .buttons {
        align-self: end;
        
        .closeBtn {
            color: red;
        }

        button {
            padding: 0.6rem 1rem;
            text-align: center;
            font-weight: bold;
            border-radius: 0.5rem;
            border: 1px solid transparent;
            cursor: pointer;
            background-color: transparent;
            color: var(--dark-grey-shade);

            &:hover {
                border: 1px solid var(--medium-grey-shade);
                background-color: rgba(79, 79, 79, 0.05);
                transition: 0.5s;
            }

            &:focus {
                outline: 2px solid black;
            }
        }
    }
}