.card {
    width: 16rem;
    height: 13rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1.5px solid var(--light-grey-shade);
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    i {
        align-self: end;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        cursor: pointer;
        color: transparent;
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
        transition: 0.5s;

        i{
            border: 1px solid red;
            color: black;
            transition: 1s;
        }
    }

}
