header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4.5rem;
    border-bottom: 1px solid var(--medium-grey-shade);
    padding-left: 2rem;

    h1 {
        font-size: 1.5rem;
        padding-right: 5rem;
        font-weight: lighter;
    }
}